<?xml version="1.0" ?>
<!--@POSTPROC: ./postproc.sh-->
<module suppressWarnings="true">

<User f="nodata">
  <User f="noscroll">
    <Select_User t="dropdown" f="user nocertainty noannotation"/>
    <Make_Test_Record t="button" l="Test"/>
  </User>
</User>

<Test>
  <Test>
    <ID f="id"/>
    <Re-Call_SaveTabGroup t="button"/>
    <Trigger_Autosave     t="button"/>
  </Test>
</Test>

<logic><![CDATA[
// The original definition is removed using @POSTPROC: ./postproc.sh
saveTabGroup(String tabgroup, String callback) {
  Boolean enableAutosave      = true;
  String  id                  = getUuid(tabgroup);
  List    geometry            = null;
  List    attributes          = null;
  String  parentTabgroup_     = parentTabgroup;
  String  parentTabgroupUuid_ = getUuid(parentTabgroup_);
  Boolean userWasSet          = !username.equals("");

  parentTabgroup = null;
  SaveForceCallback saveCallback  = new SaveForceCallback() {
    onSave(uuid, newRecord, hasChanges) {
      setUuid(tabgroup, uuid);

      showWarning("", "" + hasChanges);
    }
    onError(message) {
      showToast(message);
    }
  };

  saveTabGroup(tabgroup, id, geometry, attributes, saveCallback, enableAutosave);
}

// `onShowTest` triggers `saveTabGroup("Test", "onSaveTest__()")`
addOnEvent("Test/Test/Re-Call_SaveTabGroup", "click", "onShowTest()");
addOnEvent("Test/Test/Trigger_Autosave",     "click", "triggerAutoSave()");
]]></logic>
</module>
